@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

$background-color: #fff4e6;
$color1: #3c2f2f;
$color2: #4b3832;
$color3: #854442;
$color4: #be9b7b;

body {
	margin: 0;
	background: $background-color;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color: $color1;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
	width: 150px
}

nav {
	vertical-align: middle;
	float: right;
}

.btn-outline-custom {
	color:$color2;
	border-color: $color2;
}

.btn-outline-custom:hover {
	color: $background-color;
	border-color: $color1;
	background-color: $color1;
}

.btn-outline-custom:not([disabled]):not(.disabled).active, .btn-outline-custom:not([disabled]):not(.disabled):active, .show>.btn-outline-custom.dropdown-toggle{
	border-color: $color3;
	background-color: $color3;
	box-shadow: 0 0 0 0.2rem $color2;
}
.btn-outline-custom.focus, .btn-outline-custom:focus {
	box-shadow: 0 0 0 0.2rem $color2;
}

.btn-custom {
	color: $background-color;
	border-color: $color2;
	background-color: $color2;
}

.btn-custom:hover {
	color: $background-color;
	border-color: $color1;
	background-color: $color1;
}

.btn-custom:not([disabled]):not(.disabled).active, .btn-custom:not([disabled]):not(.disabled):active, .show>.btn-custom.dropdown-toggle{
	border-color: $color3;
	background-color: $color3;
}
.btn-custom:not([disabled]):not(.disabled).active:focus, .btn-custom:not([disabled]):not(.disabled):active:focus, .show>.btn-custom.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem $color2;
}

/*
$font-color: #ebfffb;
$basketball-color: #fa8320;
$menu-link-color: #61234e;
$bg-color: #032535;

$bg-header-color: $basketball-color;
$menu-link-color-hover: #000;
$menu-font-size: 20px;

header {
  background-color: $bg-header-color;
}

header::after {
  content: '';
  display: table;
  clear: both;
}



@media only screen and (min-width: 992px) {
  nav {
    float: right;
  }
}

@media only screen and (max-width: 991px) {
  nav {
    display: none;
  }
}

nav {
	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
}

nav {
	li {
	  display: inline-block;
	  margin-left: 70px;
	  padding-top: 50px;
  	position: relative;
	}
}

nav {
	a {
	  color: $menu-link-color;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-size: $menu-font-size;
	}
}

nav a:hover {
  color: $menu-link-color-hover;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: $menu-link-color;

  position:absolute;
  top: 40px;
  width: 0%;

  transition: all ease-in-out 1000ms;
}

nav a:hover::before {
  width: 100%;
}

h1, h3 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h5 {
	font-size: 24px;
}

footer {
  background-color: $basketball-color;
  padding: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
	margin-left : auto;
  margin-right : auto;
	margin-bottom: 50px;
}

.textleft {
	text-align: left;
}

td, th {
  padding: 5px;
}

.card {
  background-color: $bg-color;
	border-color: $font-color;
	margin-bottom: 12px;
	p {
		font-size: 48px;
	}
}

#highlight {
	color: #88cc00;
}

.hdr3 {
	font-size: 36px;
}

.day {
	@extend .hdr3;
	color: #99ccff;
}

.season {
	@extend .hdr3;
	color: #66b3ff;
}
*/
