@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

$background-color: #fff4e6;
$color1: #3c2f2f;
$color2: #4b3832;
$color3: #854442;
$color4: #be9b7b;

body {
	margin: 0;
	background: $background-color;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color: $color1;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
	width: 150px
}

nav {
	vertical-align: middle;
	float: right;
}

.btn-outline-custom {
	color:$color2;
	border-color: $color2;
}

.btn-outline-custom:hover {
	color: $background-color;
	border-color: $color1;
	background-color: $color1;
}

.btn-outline-custom:not([disabled]):not(.disabled).active, .btn-outline-custom:not([disabled]):not(.disabled):active, .show>.btn-outline-custom.dropdown-toggle{
	border-color: $color3;
	background-color: $color3;
	box-shadow: 0 0 0 0.2rem $color2;
}
.btn-outline-custom.focus, .btn-outline-custom:focus {
	box-shadow: 0 0 0 0.2rem $color2;
}

.btn-custom {
	color: $background-color;
	border-color: $color2;
	background-color: $color2;
}

.btn-custom:hover {
	color: $background-color;
	border-color: $color1;
	background-color: $color1;
}

.btn-custom:not([disabled]):not(.disabled).active, .btn-custom:not([disabled]):not(.disabled):active, .show>.btn-custom.dropdown-toggle{
	border-color: $color3;
	background-color: $color3;
}
.btn-custom:not([disabled]):not(.disabled).active:focus, .btn-custom:not([disabled]):not(.disabled):active:focus, .show>.btn-custom.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem $color2;
}
