@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

$background-color: #fff4e6;
$color1: #3c2f2f;
$color2: #4b3832;
$color3: #854442;
$color4: #be9b7b;

body {
	margin: 0;
	background: $background-color;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color: $color1;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
	width: 150px
}

nav {
	vertical-align: middle;
	float: right;
}

.btn-outline-custom {
	color:$color2;
	border-color: $color2;
}

.btn-outline-custom:hover {
	color: $background-color;
	border-color: $color1;
	background-color: $color1;
}

.btn-outline-custom:not([disabled]):not(.disabled).active, .btn-outline-custom:not([disabled]):not(.disabled):active, .show>.btn-outline-custom.dropdown-toggle{
	border-color: $color3;
	background-color: $color3;
	box-shadow: 0 0 0 0.2rem $color2;
}
.btn-outline-custom.focus, .btn-outline-custom:focus {
	box-shadow: 0 0 0 0.2rem $color2;
}

.btn-custom {
	color: $background-color;
	border-color: $color2;
	background-color: $color2;
}

.btn-custom:hover {
	color: $background-color;
	border-color: $color1;
	background-color: $color1;
}

.btn-custom:not([disabled]):not(.disabled).active, .btn-custom:not([disabled]):not(.disabled):active, .show>.btn-custom.dropdown-toggle{
	border-color: $color3;
	background-color: $color3;
}
.btn-custom:not([disabled]):not(.disabled).active:focus, .btn-custom:not([disabled]):not(.disabled):active:focus, .show>.btn-custom.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem $color2;
}

.msg {
	font-size: 18px;
}

h1 {
	font-size: 36px;
}

/* LOGIN STYLING */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: $background-color;
  padding: 30px;
  width: 90%;
  max-width: 750px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: $background-color;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: $color1;
  border-bottom: 2px solid $color3;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: $color3;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(60,47,47,0.4);
  box-shadow: 0 10px 30px 0 rgba(60,47,47,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: $color1;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=username], input[type=password] {
  background-color: $background-color;
  border: none;
  color: $color1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid $background-color;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=username]:focus, input[type=password]:focus {
  background-color: $background-color;
  border-bottom: 2px solid $color3;
}

input[type=username]:placeholder, input[type=password]:placeholder {
  color: $color3;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: $color3;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: $color1;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
}

// Search styling

/*search box css start here*/

.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid $color1;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
		background-color: $color3;
		border-color: $color3;
		color: $background-color;
}

.wrn-btn:hover {
		background-color: $color1;
		border-color: $color1;
		color: $background-color;
}

.btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
		background-color: $color4;
		border-color: $color1;
		color: $background-color;
}
.form-control {
	width: 90%;
	margin: 10px;
	border-color: $color2;
	background-color: $background-color;
	box-shadow: 0 0 0 0.2rem $background-color;
}

.form-control:focus {
    border-color: $color3;
		background-color: $background-color;
		box-shadow: 0 0 0 0.2rem rgba(75,56,50,.25);
    outline: 0;
}

/*results styling start here*/
.hdg {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 24px;
}
.result {
  font-size: 18px;
	list-style-type: none;
	a {
		color: $color1;
	}
}

/*Book styling start here*/

.book {
	margin-bottom: 24px;
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 24px;
	}
	h4 {
		font-size: 16px;
	}
}

/* Rate styling starts here */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
	// float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
